@{
    ViewData["Title"] = "My CV";
    float income = 0;

    DateTime zeroTime = new DateTime(1, 1, 1);
    DateTime today = DateTime.Today;
    DateTime birthday = new DateTime(2007, 3, 22, 12, 0, 0);
    TimeSpan span = today - birthday;
    int years = (zeroTime + span).Year - 1;

}
<link rel="stylesheet" href="./css/site.css" />

<div>
    
    <div class="edu-flex-container">
        <h1 style="text-align: center; 
            margin-left: 25vw;
        margin-right: 5vw;
            width: 50vw;
        text-align: center" 
        class="display-4">
            My CV
        </h1>

        <img src="~/Images/1728397222705.jpg" style="width: 10vw; height: 12vw; 
        margin-left: 10%;
    margin-right: 10%;
        float: right;
    position: relative" />
    </div>
    
    <div>
        <h2 style="text-align: center" class="display-4">Background</h2>
       </div>
       <p style="width: 80vw">
           My name is Saba. I am a @years year old software developer from
        <a href="https://en.wikipedia.org/wiki/Georgia_(country)">Georgia.</a>
        I began learning coding in 2024 with Python but have shifted to using languages like C++; JavaScript and C#.

       </p>
       <br />
    <h2 style="text-align: center" class="display-4">Education</h2>
    @foreach(Edu school in Model[0])
    {
        <div style="text-align: center">
            <p style="font-weight: bold">@school.startDate - @school.endDate</p>
            <p>@school.name</p>
            @if(school.GPA != null)
            {
                <p>GPA: @school.GPA / 4.00</p>
            }
            @if(school.major != null)
            {
                <p>Major: @school.major</p>
            }
        </div>
    }
    
    <div style="text-align: center">
        <h2  class="display-4">Work experience</h2>
        @foreach(Edu work in Model[1])
        {
            <p style="font-weight: bold">@work.startDate - @work.endDate</p>
            <p>@work.name</p>
        }
    </div>
    
    <div style="text-align: center">
        <h2 class="display-4">DEMO: Calculate your income tax</h2>
        <p> Based on Georgia tax code</p>
        @using(Html.BeginForm("Index", "Income")){
            <input type="number" name="i"/> 
            <button type="submit" style="border: 0px"> submit </button><br />
            <span>Note: Please enter monthly wage </span>

        }
    </div>
    <br />
</div>
